{% extends 'base.html' %} {% block content %}
<div class="container my-3">
  <!-- 질문 -->
  <h2 class="border-bottom py-2">{{ alarm.alarmName }}</h2>
  <div class="card my-3">
    <a
      href="javascript:void(0)"
      class="delete btn btn-sm btn-outline-secondary"
      data-uri="{{ url_for('alarm.delete', alarm_id=alarm.id) }}"
      >삭제</a
    >
    <div class="card-body">
      <div class="card-text" style="white-space: pre-line">
        {{ alarm.alarmTime }}
      </div>
      <div class="d-flex justify-content-end">
        <div class="badge bg-light text-dark p-2"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
